$accentColor = #00a96b
$textColor = #3a3a3a
$textLightColor = #666
$textLightestColor = #999
$borderColor = rgba(0, 0, 0, .05)
$codeBgColor = #f8f8f8
//$codeBgColor = #f4f5f5
$codeTextColor = #666
$arrowBgColor = #ccc

$headerHeight = 50px
$navbarHeight = 5rem
